.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  max-width: 1024px;
  padding: 10px;
  color: var(--text-color);
  font-family: var(--main-font-family), sans-serif;
  background: var(--bg-color) var(--background-image) no-repeat center / cover;
}

.page-container {
  width: 100%;
  container-type: inline-size;
  container-name: page;
}

@media (min-width: 500px) {
  .page {
    gap: 20px;
    padding: 20px;
  }
}

/****************************** HEADER *********************************/

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas:
    "menu"
    "logo"
    "info";
  gap: 55px;
  z-index: 0;
  transition: gap 0.5s ease;
}

@container page (min-width: 500px) {
  .header {
    gap: 162px;
  }
}

@container page (min-width: 800px) {
  .header {
    gap: 114px;
  }
}

/******************************* MENU *********************************/

.header__theme-menu {
  display: flex;
  justify-content: flex-end; /* справа по горизонтали */
  align-items: center; /* по центру по вертикали */
  margin-top: 65px;
  margin-bottom: 10px;
  transition: margin 0.5s ease;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column; /* по умолчанию колонка */
  gap: 10px;
}
@container page (min-width: 600px) {
  .header__theme-menu {
    margin-top: 172px;
  }
}
@container page (min-width: 900px) {
  .header__theme-menu {
    justify-content: center; /* по центру по горизонтали */
    align-items: flex-start; /* вверх по вертикали */
    margin: 0px 0px 160px;
  }

  .header__theme-menu-list {
    flex-direction: row; /* строка при ширине >800px */
  }
}

/* Кнопки меню */

.header__theme-menu-button {
  border: 1px solid transparent;
  color: var(--accent-color);
  font: inherit;
  text-align: center;
  text-transform: lowercase;
  background: none;
  cursor: pointer;
  min-inline-size: 70px;
  min-block-size: 26px;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-transparent);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

/* Текстовый блок хедера */

.logo {
  display: block;
  overflow-wrap: break-word;
  color: var(--heading-color);
  font-weight: 900;
  font-size: var(--logo-font-size);
  line-height: 0.8;
  text-transform: lowercase;
}

.header__logo {
  overflow-x: clip;
  transition: transform 0.7s ease;
  transform: translateX(0); /* по умолчанию не смещаем */
  justify-self: left;
}

.header__info {
  width: 100%;
  transition: width 0.5s ease;
  overflow-wrap: break-word;
  text-align: start;
  text-wrap: balance;
}

.header__info::after {
  content: "";
}

@container page (min-width: 600px) {
  .header__logo {
    transform: translateX(-15px); /* сдвиг влево за границу родителя */
  }
  .header__info {
    margin-left: auto;
    width: 50%;
  }
}

/********************* DECOR *********************/

/* Надпись REC */
.header__decoration-corner {
  position: absolute;
  top: 4px;
  right: 10px;

  z-index: -1;
  color: var(--accent-color, rgba(255, 0, 112, 1));
  text-transform: uppercase;
}

/* Красная точка в правом верхнем углу */
.header__decoration-corner::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  vertical-align: 8%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, rgba(255, 0, 112, 1), 0.5);
  background-color: var(--accent-color, rgba(255, 0, 112, 1));
  animation: pulse 6s infinite ease-in-out;
}

/* Добавила немного анимации красному кружочку */
@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  45% {
    opacity: 0.9;
    transform: scale(1);
  }
  50% {
    opacity: 0.1;
    transform: scale(0.5);
  }
  55% {
    opacity: 0.9;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Декоративные уголки */

.decorated__zone {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}
.decorated__zone::before,
.decorated__zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  pointer-events: none;
}

/* Верхний правый угол */
.decorated__zone::before {
  top: 0;
  right: 0;
  border-top: 1px solid var(--accent-color, rgba(255, 0, 112, 1));
  border-right: 1px solid var(--accent-color, rgba(255, 0, 112, 1));
  transform: translate(-1px, 1px);
}

/* Нижний левый угол */
.decorated__zone::after {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--accent-color, rgba(255, 0, 112, 1));
  border-left: 1px solid var(--accent-color, rgba(255, 0, 112, 1));
  transform: translate(1px, -1px);
}

/********************* Декор шрифтов *********************/

/* Декор c заливкой фона розовым */

.title-decor {
  height: fit-content;
  color: var(--subheading-color);
  background-color: var(--highlight-color);
}

.title-decor-margin {
  margin-bottom: 10px;
}

/* Декор с квадратной тенью (шапка, подвал, текст) */

.text-decor {
  text-shadow: calc(1em / 33 + 1px) calc(1em / 33 + 1px) 0
    var(--highlight-color);
}

/* Декор для толстых заголовков */

.text-bold {
  font-weight: 700;
}

/* Декор для заголовков низкого уровня */

.info__heading {
  color: var(--accent-color);
}

/* Декор для ссылок */

.links {
  border: 1px solid transparent;
  color: inherit;
  font: inherit;
  text-decoration: none;
}

.links:hover {
  border-bottom: 1px solid currentColor;
}

.links:focus-visible {
  border: 1px solid currentColor;
}

/********************* Основной блок *********************/

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  gap: 80px;
  padding-bottom: 80px;
  font-size: inherit;
  margin-top: 40px;
  transition: margin 0.5s ease;
}

.info__article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@container page (min-width: 500px) {
  .info {
    margin-top: 60px;
  }

  .info__article {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /* Названия статей всегда */
  .info__article > :nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .info > :nth-child(3) > :nth-child(1) {
    grid-row: 1 / span 2;
  }

  /* Остальные элементы внутри 1-го и 3-го info__article */
  .info > :nth-child(1) > :nth-child(n + 2),
  .info > :nth-child(3) > :nth-child(n + 2) {
    grid-column: 2 / 4;
    grid-row: auto;
  }
}

/* Второй блок текстовые блоки растягиваются на три столбца */
@container page (min-width: 500px) and (max-width: 800px) {
  .info > :nth-child(2) > :nth-child(n + 2) {
    grid-column: 1 / 4;
  }
}

/* Вторую строку занимает второй ребенок остальные выстраиваются за ним автоматически в колонки*/
@container page (min-width: 800px) {
  .info > :nth-child(2) > :nth-child(n + 2) {
    grid-row: 2;
  }
}

/********************* Галерея *********************/

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__image {
  display: block;
  width: 100%;
  height: auto;
}

@container page (min-width: 500px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(3, auto);
    grid-template-areas:
      "title title title"
      "sunset sunset dessert"
      "tape books dessert"
      "tape street street";
    gap: 20px;
  }

  .gallery__title {
    display: block;
    grid-area: title;
    width: 100%;
  }

  .gallery__image:nth-child(2) {
    grid-area: sunset;
  }

  .gallery__image:nth-child(3) {
    grid-area: dessert;
  }

  .gallery__image:nth-child(4) {
    grid-area: tape;
  }

  .gallery__image:nth-child(5) {
    grid-area: books;
  }

  .gallery__image:nth-child(6) {
    grid-area: street;
  }

  .gallery__image {
    height: 100%;
    object-fit: cover;
  }
}

/********************* Футер *********************/

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow-wrap: break-word;
}
