.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  color: var(--text-color);
  font-family: var(--main-font-family), monospace;
  background: var(--bg-color) var(--background-image) no-repeat center / cover;
  background-attachment: fixed;
}

.page-container {
  width: 100%;
  container-type: inline-size;
  container-name: page;
}

@media (min-width: 768px) {
  .page {
    gap: 20px;
    padding: 20px;
  }
}

/****************************** HEADER *********************************/

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content min-content;
  gap: 55px;
  padding-bottom: 55px;
  z-index: 0;
  transition: gap 0.5s ease;
  min-height: 648px;
  transition: height 0.5s ease;
  box-sizing: border-box;
}

@container page (min-width: 700px) {
  .header {
    min-height: 984px;
    gap: 162px;
    padding-bottom: 162px;
  }
}

@container page (min-width: 950px) {
  .header {
    min-height: 728px;
    gap: 114px;
    padding-bottom: 114px;
  }
}

/******************************* MENU *********************************/

.header__theme-menu {
  display: flex;
  justify-content: flex-end; /* справа по горизонтали */
  align-items: center; /* по центру по вертикали */
  margin-top: 65px;
  margin-bottom: 10px;
  transition: margin 0.5s ease;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column; /* по умолчанию колонка */
  gap: 10px;
}
@container page (min-width: 700px) {
  .header__theme-menu {
    margin-top: 172px;
  }
}
@container page (min-width: 950px) {
  .header__theme-menu {
    justify-content: center; /* по центру по горизонтали */
    align-items: flex-start; /* вверх по вертикали */
    margin: 0px 0px 160px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

/* Кнопки меню */

.header__theme-menu-button {
  border: 1px solid transparent;
  color: var(--accent-color);
  font: inherit;
  text-align: center;
  text-transform: lowercase;
  background: none;
  cursor: pointer;
  min-inline-size: 70px;
  min-block-size: 26px;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-transparent);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

/* Текстовый блок хедера */

.logo {
  display: block;
  overflow-wrap: break-word;
  color: var(--heading-color);
  font-weight: 900;
  font-size: var(--logo-font-size);
  line-height: 0.8;
  text-transform: lowercase;
}

.header__logo {
  overflow-x: clip;
  transition: transform 0.7s ease;
  transform: translateX(0); /* по умолчанию не смещаем */
  justify-self: left;
}

.header__info {
  width: 100%;
  transition: width 0.5s ease;
  overflow-wrap: break-word;
  text-align: start;
  text-wrap: balance;
  /* margin-bottom: 56px;
  transition: margin 0.7s ease; */
  align-self: center;
}

.header__info::after {
  content: "";
}

@container page (min-width: 700px) {
  .header__logo {
    transform: translateX(-15px); /* сдвиг влево за границу родителя */
  }
  .header__info {
    margin-left: auto;
    width: 50%;
  }
}

/********************* DECOR *********************/

/* Надпись REC */
.header__decoration-corner {
  position: absolute;
  top: 4px;
  right: 10px;

  z-index: -1;
  color: var(--accent-color, rgba(255, 0, 112, 1));
  text-transform: uppercase;
}

/* Красная точка в правом верхнем углу */
.header__decoration-corner::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  vertical-align: 8%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, rgba(255, 0, 112, 1), 0.5);
  background-color: var(--accent-color, rgba(255, 0, 112, 1));
  animation: pulse 6s infinite ease-in-out;
}

/* Декоративные уголки */

.decorated__zone {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}
.decorated__zone::before,
.decorated__zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  pointer-events: none;
}

/* Верхний правый угол */
.decorated__zone::before {
  top: 0;
  right: 0;
  border-top: 1px solid var(--accent-color, rgba(255, 0, 112, 1));
  border-right: 1px solid var(--accent-color, rgba(255, 0, 112, 1));
  transform: translate(-1px, 1px);
}

/* Нижний левый угол */
.decorated__zone::after {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--accent-color, rgba(255, 0, 112, 1));
  border-left: 1px solid var(--accent-color, rgba(255, 0, 112, 1));
  transform: translate(1px, -1px);
}

/********************* Декор шрифтов *********************/

/* Декор c заливкой фона розовым */

.title-decor {
  color: var(--subheading-color);
  background-color: var(--highlight-color);
}

.info__text-margin {
  margin-top: 10px;
}

/* Декор с квадратной тенью (шапка, подвал, текст) */

.text-decor {
  text-shadow: calc(1em / 33 + 1px) calc(1em / 33 + 1px) 0
    var(--highlight-color);
}

/* Декор для толстых заголовков */

.text-bold {
  font-weight: 700;
}

/* Декор для заголовков низкого уровня */

.info__heading {
  color: var(--accent-color);
}

/* Декор для ссылок */

.links {
  border: 1px solid transparent;
  color: inherit;
  font: inherit;
  text-decoration: none;
}

.links:focus {
  outline: none;
}

.links:hover {
  border-bottom: 1px solid currentColor;
}

.links:focus-visible {
  border: 1px solid currentColor;
}

/********************* Основной блок *********************/

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 50px;
  font-size: inherit;
  margin-top: 40px;
  transition: margin 0.5s ease;
}

.info__article {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  gap: 10px;
}
.info__article .info__paragraph:not(:last-child) > *:last-child {
  margin-bottom: 10px;
}

@container page (min-width: 700px) {
  .info {
    margin-top: 60px;
    gap: 80px;
    padding-bottom: 80px;
  }

  .info__article {
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
  }

  .info__title {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .info__grid--title {
    grid-column: 2 / span 2;
    margin-bottom: 10px;
  }

  .info__why-focus-hard .info__paragraph,
  .info__focus-improvement .info__paragraph {
    grid-column: 2 / span 2;
  }
}

.info__focus-distractions .info__paragraph {
  grid-column: 1 / span 3;
}

@container page (min-width: 950px) {
  .info__article {
    grid-auto-flow: row;
  }

  .info__focus-distractions .info__title {
    max-width: calc(100% / 3);
    grid-row: 1;
    grid-column: 1 / -1;
  }

  .info__focus-distractions .info__paragraph {
    grid-column: auto;
  }
}

/********************* Галерея *********************/

.gallery__title {
  margin-bottom: 10px;
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery__image {
  display: block;
  width: 100%;
  height: auto;
}

@container page (min-width: 700px) {
  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(3, auto);
    grid-template-areas:
      "title title title"
      "sunset sunset dessert"
      "tape books dessert"
      "tape street street";
    gap: 20px;
  }

  .gallery__title {
    margin-bottom: 0px;
  }

  .gallery__item:nth-child(1) {
    grid-area: sunset;
  }

  .gallery__item:nth-child(2) {
    grid-area: dessert;
  }

  .gallery__item:nth-child(3) {
    grid-area: tape;
  }

  .gallery__item:nth-child(4) {
    grid-area: books;
  }

  .gallery__item:nth-child(5) {
    grid-area: street;
  }

  .gallery__image {
    height: 100%;
    object-fit: cover;
  }
}

/********************* Футер *********************/

.footer {
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-wrap: break-word;
}
